<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiuyu.governance.business.room.mapper.ScheduleEmployeeMapper">
  <resultMap id="BaseResultMap" type="com.jiuyu.governance.business.room.pojo.entity.ScheduleEmployee">
    <!--@mbg.generated-->
    <!--@Table schedule_employee-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="create_by" jdbcType="BIGINT" property="createBy" />
    <result column="update_by" jdbcType="BIGINT" property="updateBy" />
    <result column="is_deleted" jdbcType="BOOLEAN" property="isDeleted" />
    <result column="live_room_id" jdbcType="BIGINT" property="liveRoomId" />
    <result column="employee_id" jdbcType="BIGINT" property="employeeId" />
    <result column="position_id" jdbcType="BIGINT" property="positionId" />
    <result column="schedule_id" jdbcType="BIGINT" property="scheduleId" />
    <result column="work_day" jdbcType="DATE" property="workDay" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, create_date, update_date, create_by, update_by, is_deleted, live_room_id, employee_id,
    position_id, schedule_id,work_day
  </sql>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update schedule_employee
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="create_date = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.createDate,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="update_date = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.updateDate,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="create_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.createBy,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="update_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.updateBy,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="is_deleted = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.isDeleted,jdbcType=BOOLEAN}
        </foreach>
      </trim>
      <trim prefix="live_room_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.liveRoomId,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="employee_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.employeeId,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="position_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.positionId,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="schedule_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.scheduleId,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="work_day = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.scheduleId != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.scheduleId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    update schedule_employee
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="create_date = case" suffix="else create_date end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.createDate != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.createDate,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="update_date = case" suffix="else update_date end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.updateDate != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.updateDate,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="create_by = case" suffix="else create_by end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.createBy != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.createBy,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="update_by = case" suffix="else update_by end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.updateBy != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.updateBy,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="is_deleted = case" suffix="else is_deleted end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.isDeleted != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.isDeleted,jdbcType=BOOLEAN}
          </if>
        </foreach>
      </trim>
      <trim prefix="live_room_id = case" suffix="else live_room_id end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.liveRoomId != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.liveRoomId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="employee_id = case" suffix="else employee_id end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.employeeId != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.employeeId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="position_id = case" suffix="else position_id end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.positionId != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.positionId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="schedule_id = case" suffix="else schedule_id end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.scheduleId != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.scheduleId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="work_day = case" suffix="else work_day end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.scheduleId != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.scheduleId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
    insert into schedule_employee
    (id, create_date, update_date, create_by, update_by, is_deleted, live_room_id, employee_id,
      position_id, schedule_id, work_day)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id,jdbcType=BIGINT}, #{item.createDate,jdbcType=TIMESTAMP}, #{item.updateDate,jdbcType=TIMESTAMP},
        #{item.createBy,jdbcType=BIGINT}, #{item.updateBy,jdbcType=BIGINT}, #{item.isDeleted,jdbcType=BOOLEAN},
        #{item.liveRoomId,jdbcType=BIGINT}, #{item.employeeId,jdbcType=BIGINT}, #{item.positionId,jdbcType=BIGINT},
        #{item.scheduleId,jdbcType=BIGINT}, #{item.workDay,jdbcType=DATE})
    </foreach>
  </insert>
</mapper>
