
.flex-row {
  flex-direction: row
}

.flex-col {
  flex-direction: column
}

.flex-wrap {
  flex-wrap: wrap
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center
}

.items-end {
  align-items: flex-end;
}


.justify-start {
  justify-content: flex-start
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.justify-around{
  justify-content: space-around;
}

.whitespace-nowrap {
  white-space: nowrap
}

.border {
  border-width: 1px
}

.text-left {
  text-align: left
}

.text-center {
  text-align: center
}

.text-right {
  text-align: right
}

.cursor-pointer {
  cursor: pointer;
}

.font-bold {
  font-weight: 700
}

.text-xs {
  font-size: 12px;
  line-height: calc(1 / 0.75);
}

.text-sm {
  font-size: 14px;
  line-height: calc(1.25 / 0.875);
}

.text-base {
  font-size: 16px;
  line-height: calc(1.5 / 1);
}

.text-lg {
  font-size: 18px;
  line-height: calc(1.75 / 1.125);
}

.text-xl {
  font-size: 20px;
  line-height: calc(1.75 / 1.25);
}

.text-2xl {
  font-size: 24px;
  line-height: calc(2 / 1.5);
}

.text-3xl {
  font-size: 30px;
  line-height: calc(2.25 / 1.875);
}

.text-4xl {
  font-size: 36px;
  line-height: calc(2.5 / 2.25);
}

.text-5xl {
  font-size: 48px;
  line-height: 1;
}

.text-6xl {

  font-size: 60px;
  line-height: 1;
}
