<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiuyu.replay.words.repository.dao.TradeThirdRankingMapper">
  <resultMap id="BaseResultMap" type="com.jiuyu.replay.words.entity.TradeThirdRanking">
    <!--@mbg.generated-->
    <!--@Table tb_trade_third_ranking-->
    <id column="id" property="id" />
    <result column="parent_id" property="parentId" />
    <result column="layer" property="layer" />
    <result column="category_name" property="categoryName" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.jiuyu.replay.words.entity.TradeThirdRanking">
    <!--@mbg.generated-->
    <!--@Table tb_trade_third_ranking-->
    <result column="parent_path" property="parentPath" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, parent_id, layer, category_name
  </sql>
  <sql id="Blob_Column_List">
    <!--@mbg.generated-->
    parent_path
  </sql>
</mapper>