:root {
  /* Brand Colors */
  --color-primary: #444dff;
  --color-success: #67c23a;
  --color-warning: #e6a23c;
  --color-danger: #f56c6c;
  --color-info: #909399;

  /* Text Colors */
  --text-color-main: #151719;
  --text-color-regular: #484a4c;
  --text-color-secondary: #909399;
  --text-color-placeholder: #c0c4cc;
  --text-color-white: #ffffff;

  --text-color-1: #798aad;
  --text-color-2: #7a7c7f;

  /* Background Colors */
  --bg-color-main: #f4f9ff;
  --bg-color-base: #f5f7fa;
  --bg-color-overlay: #ffffff;

  --bg-color-disabled: #fafafa;

  /* Border Colors */
  --border-color-base: #dcdfe6;
  --border-color-light: #e4e7ed;
  --border-color-lighter: #ebeef5;
  --border-color-extra-light: #f2f6fc;

  /* Border Radius */
  --border-radius-base: 10px;
  --border-radius-small: 4px;
  --border-radius-round: 20px;
  --border-radius-circle: 100%;

  /* Font Sizes */
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-13: 13px;
  --font-size-12: 12px;

  /* Spacing */
  --spacing-base: 4px;
}
